{% extends  "sistemaContable/cargarAsientos.html"  %}
{% load bootstrap3 %}

{% block contenido %}

{% block navegacion %}
  <ul class="nav nav-tabs">
    <li class=" col-md-3 text-center"><a href={% url 'sistemaContable:cargarasientos' %}  >Cargar Movimientos</a></li>
    <li class=" col-md-3 text-center"><a  href={% url 'sistemaContable:librodiario' %}  >Libro diario</a></li>
    <li class="col-md-3 text-center"><a href={% url 'sistemaContable:libromayor' %}>Libros mayores</a></li>
    {% if not request.user.is_superuser  %}
      <li class="col-md-3 disabled text-center"><a >Cuentas</a></li>

    {% else %}
    <li class="active col-md-3  text-center"><a  href={% url 'sistemaContable:cuentas' %} >Cuentas</a></li>
    {% endif %}


  </ul>

{% endblock %}
{% if form.errors %}
  <p>
    {{form.errors}}
  </p>
{% endif %}

<div class="container">
  <form class="form-inline" action={% url 'sistemaContable:cuentas' %} method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input class="btn btn-primary pull-right" type="submit" value="Agregar Cuenta" />
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Denominacion</th>
        <th>Tipo de Cuenta</th>
        <th>Saldo Inicial</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      {% for c in cuentas  %}
      <tr>
        <td>{{c.denominacion}}</td>
        <td>{{c.Tipo}}</td>
        <td>{{c.saldo_inicial}}</td>
        <td>{{c.saldo_actual}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
